iconpath = /volumio/app/plugins/audio_interface/upnp/upnpicon.png
mpdport = 6599
#upnpav = 0
openhome = 1
ohmetapersist = 1
#ownqueue = 0
cachedir = /tmp/upmpdclicache
presentationhtml=/volumio/app/plugins/audio_interface/upnp/presentation.html
ohmanufacturername = Volumio
ohmanufacturerurl = http://volumio.org
ohmodelname = Volumio
ohmodelurl = http://volumio.org



### Parameters for the Songcast modes
#sclogfilename = /tmp/scmpdcli.log
#scloglevel = 6
#scplaymethod = mpd
#schttpport = 8768
#scalsadevice = default
#sc2mpd = /usr/bin/sc2mpd
## Parameters tor the Sender/Receiver mode. Only does anything if
## scplaymethod is alsa
#scripts_dir = /usr/share/upmpdcli/src_scripts